<!DOCTYPE html>
<html>
  <head>
    <title>Bash Profiler</title>
    <link rel="stylesheet" type="text/css" href="vendor/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="public/css/application.css">
    <link rel="stylesheet" type="text/css" href="public/css/cursor_blink.css">
  </head>

  <body ng-app="BashProfiler" ng-controller="HistoryController" ng-click="setFocus()">
    <div id="terminal-container">
      <div id="terminal-history" ng-repeat="entry in entries">
        <div id="pre-cursor" ng-include="'views/pre_cursor.html'" onload="currentDir=entry.currentDir"></div>
        {{entry.command}}<br>
        {{entry.returnValue}}
      </div>

      <div id="terminal-input-line" ng-controller="CommandController" >
        <div id="pre-cursor" ng-include="'views/pre_cursor.html'">
        </div>

        <div id="text-input-area" ng-include="'views/input_field.html'"></div>

      </div>
    </div>
  </body>

  <script type="text/javascript" src="vendor/js/jquery-2.1.1.js"></script>
  <script type="text/javascript" src="vendor/js/angular.min.js"></script>

  <script type="text/javascript" src="public/js/filestructure.js"></script>
  <script type="text/javascript" src="public/js/log.js"></script>
  <script type="text/javascript" src="public/js/command_controller.js"></script>
  <script type="text/javascript" src="public/js/history_controller.js"></script>
  <script type="text/javascript" src="public/js/application.js"></script>

</html>

