body {
  font-size: 0.8em;
  font-family: "Monaco";
}

ul {
  list-style: none;
}

.column {
  display: inline-block;
  float: left;
  width: 35%;
  height: 25em;
  margin: 2em 1em;
  padding: 0.5em;
  border-radius: 5px;
}

.function-name {
  color: #A6E22E;
}