span {
  white-space:nowrap;
}

#terminal-container {
  background-color: black;
  border-radius: 5px;
  width: 50em;
  height: 25em;
  margin: 5em;
  padding: 1em;
  font-size: 0.8em;
  font-family: "Monaco";
  font-weight: lighter;
  color: white;
}

#terminal-history {
  width: 100%;
}

#terminal-input-line {
  width: 100%;
  margin: 0 auto;
}

#terminal:focus {
  border: none;
  outline: 0;
}

#terminal-return {
  margin-top: 0.5em;
}

#cursor {
  background-color: white;
  color: white;
  opacity: 0.7;
}

.divider {
  color: red;
}

.git-branch {
  color: aqua;
}

.local-branch-status {
  color: hotpink;
  vertical-align: sub;
}

.remote-branch-status {
  color: crimson;
  vertical-align: baseline;
}

.caret {
  font-size: 0.8em;
  vertical-align: middle;
}

#text-input-area, #pre-cursor {
  display: inline;
}

.space {
  display: inline;
}